/* reset styles */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #823224;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.wrapper{
    display: flex;
    background-color: #fff; 
    justify-content: start;
    width: 80%;
    min-height: 60vh;
    margin: 4rem;
}

.wrapper_col{
    display: flex;
    background-color: #823224; 
    justify-content: center;
    flex-direction: column;
    width: 80%;
    min-height: 40vh;
    /* margin: 8rem; */
}

.intro_card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #14161a;
    width: 40%;
    color: #29b4ff;
    padding: 0 4rem;
}

.intro_card img{
    height: 15rem;
}

.intro_element{
    padding: 1rem 0;
}
.intro_card h1{
    font-size: 3rem;

}

.intro_card h3{
    color: #E5F0DE;
    
}

.chat_bot_continue{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    padding-left: 6rem;
    
}

.form_title{
    
}

.input_group{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
    
}
.input_group input{
    padding: 0 20rem 0 0 ;
    margin: 1rem 0;
}

.input_btn{
    background-color: #29b4ff;
    padding: 1rem 2rem;
    color: #E5F0DE;
}

.create_accont_link{
    position: relative;
    left: 70%;  
}